{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h3>Registro de Empréstimo</h3>
    </div>
    <form action="" method="post" class="row mt-4 p-4 round border shadow">
        {{form.csrf_token}}

        {{form.loanStudent.label}}
        {{form.loanStudent(class="form-control")}}

        {{form.loanBook.label}}
        {{form.loanBook(class="form-control")}}

        {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
    </form>

</div>


{% endblock %}