{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <h3>Cadastro de Livro</h3>
        </div>
        <form action="" method="post" class="row mt-4 p-4 round border shadow">
            {{form.csrf_token}}

            {{form.title.label}}
            {{form.title(class="form-control", placeholder="Título do Livro")}}

            {{form.author.label}}
            {{form.author(class="form-control", placeholder="Autor do Livro")}}

            {{form.publisher.label}}
            {{form.publisher(class="form-control", placeholder="Editora do Livro")}}

            {{form.publiYear.label}}
            {{form.publiYear(class="form-control", placeholder="Ano de Publicação")}}

            {{form.genre.label}}
            {{form.genre(class="form-control", placeholder="Gênero do Livro")}}

            {{form.availNumber.label}}
            {{form.availNumber(class="form-control", placeholder="Número de Cópias Disponíveis")}}

            {{form.totalNumber.label}}
            {{form.totalNumber(class="form-control", placeholder="Número Total de Cópias")}}

            {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}

        </form>
    </div>


{% endblock %}