<nav class="navbar">
    <a href="/" class="btn btn-dark">Home</a>
    <a href="{{url_for('bookRegister')}}" class="btn btn-info">Livros</a>
    <a href="{{url_for('studentRegister')}}" class="btn btn-info">Alunos</a>
    <a href="{{url_for('loanRegister')}}" class="btn btn-info">Empréstimo</a>
    <a href="{{url_for('studentList')}}" class="btn btn-info">Alunos Lista</a>
    <a href="{{url_for('bookList')}}" class="btn btn-info">Livros Lista</a>
    <a href="{{url_for('loanList')}}" class="btn btn-info">Empréstimo Lista</a>
</nav>
